header {
background-color: darkblue;
-webkit-text-fill-color: white;
text-align: center;
}

main {
    background-color: gray;
    padding: 1em;
}

body {
    background-color: gray;
    background-image: url("https://raw.githubusercontent.com/SAMCFADDEN/assignment-unit-5.2/main/assignment/record.png");
    background-repeat:repeat-x + repeat-y;
    margin: 0%;
}

h1.ComeIn {
    background-color: grey;
    -webkit-text-fill-color: white;
    font-family: Calibri, sans-serif;
}

h2.recordLabel {
    background-color: gray;
    -webkit-text-fill-color: white;
    font-family: Calibri, sans-serif;
}

p.bodyText {
    background-color: grey; 
    -webkit-text-fill-color: white;
    font-family: Calibri, sans-serif;
    margin: 0%;
    text-align: center;
}
